.table-normal {
  border: 1em;
  border-radius: 1em;
  border-color: black;
  border-style: solid;
}

table { border-collapse: collapse; }
td { border: none; }
tr {
  border-right: solid 1px #f00; 
  border-left: solid 1px #f00;
}